* {
	margin:0px;
	padding:0px;
	box-sizing: border-box;
}

body {
	overflow:auto;
    font-family: 'Poppins', sans-serif;
	background-color: #E73132;
	color: #ffffff;
}

nav {
	display:flex;
	justify-content: space-around;
	align-items:center;
	min-height: 8vh;
	background-color: #E73132;
	font-family: 'Poppins', sans-serif;
	height:auto;
}

.logo {
	color:rgb(226,226,226);
	text-transform: uppercase;
	letter-spacing:5px;
	font-size:22px;
}

.logo img {
	width:50px;
	margin:5px;	
	padding-top: 5px;
}

.nav-links {
	display:flex;
	justify-content:space-around;
	width:30%;
}

.nav-links li {
	list-style:none;
}

.bg-img {
	width: 100%;
  	height: 90vh;
  	background-repeat: no-repeat;
  	background-position: center center;
  	background-size: cover;
  	background-attachment: fixed;
}

.nav-links a {
	color:rgb(226,226,226);
	text-decoration: none;
	letter-spacing:3px;
	font-weight: bold;
	font-size:14px;
}

.nav-links a:hover {
	opacity:0.8;
	transition:0.3s;
}

.burger {
	display:none;
	cursor:pointer;
}

.burger:hover {
	opacity:0.8;
	transition:0.3s;

}

.burger div {
	width:25px;
	height:3px;
	background-color:rgb(226,226,226);
	margin:5px;
	transition: all 0.3s ease;
}

.live {
	display:flex;
	justify-content:center;
	align-items:center;
	width:100%;
	
}

footer {
	width: 100%;
	color:white;
	position: absolute;
	bottom:0;
	height:auto;
}

#footerWrapper {
    display: flex;
}

footer li {
	display:inline;
}

footer .socials {
    text-align: left;
}

.social-icon {
	width:50px;
	padding:10px;
    vertical-align: middle;
}

#liveControls {
    flex: 120px;
	padding-left: 80%;
}

#liveControls:hover {
	cursor: pointer;
}

#play {
	width:50px;
	padding:10px;
}

#pause {
	width:50px;
	padding:10px;
}

.social-icon:hover {
	opacity:0.8;
	transition:0.3s;
}

.slidecontainer {
	width: 100%; /* Width of the outside container */
	
  }
  
  /* The slider itself */
  .slider {
	-webkit-appearance: none;  /* Override default CSS styles */
	appearance: none;
	width: 100%; /* Full-width */
	height: 25px; /* Specified height */
	outline: none;
	border: 3px solid #ffffff;
	background: #ffffff; /* Grey background */
	-webkit-transition: .2s; /* 0.2 seconds transition on hover */
	transition: opacity .2s;

		-webkit-transform: rotate(270deg);
		-moz-transform: rotate(270deg);
		-ms-transform: rotate(270deg);
		-o-transform: rotate(270deg);
		transform: rotate(270deg);

		-webkit-transform-origin: 50% 50%;
		-moz-transform-origin: 50% 50%;
		-ms-transform-origin: 50% 50%;
		-o-transform-origin: 50% 50%;
		transform-origin: 50% 50%;

  }
  
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
	-webkit-appearance: none; /* Override default look */
	appearance: none;
	width: 25px; /* Set a specific slider handle width */
	height: 19px; /* Slider handle height */
	background: #E73132;
	cursor: pointer; /* Cursor on hover */
	vertical-align: middle;
  }
  
  .slider::-moz-range-thumb {
	width: 25px; /* Set a specific slider handle width */
	height: 19px; /* Slider handle height */
	background: #E73132; /* Green background */
	cursor: pointer; /* Cursor on hover */
	vertical-align: middle;
  }

  .slider:hover {
	opacity:0.8;
	transition:0.3s;
  }

/* DIV with BG image spanning specified height */

.schedule {
	height:auto;
}

.bg1 {
	background: url("/static/images/bg/eco1.jpg") no-repeat center center fixed;
	-webkit-backgrond-size:cover;
	-moz-background-suze:cover;
	-o-background-size:cover;
	background-size:cover;
	height:30vh;
}

.sch {
	background: url("/static/images/bg/eco1.jpg") no-repeat center center fixed;
	-webkit-backgrond-size:cover;
	-moz-background-suze:cover;
	-o-background-size:cover;
	background-size:cover;
	display:flex;
	height:auto;
	width:auto;
	justify-content: center;
	align-items: center;;
}

@media screen and (max-width:1024px) {
	.nav-links {
		width: 60%;
	}
}

@media screen and (max-width:768px) {
	body {
		overflow-x:hidden;
	}

	.nav-links {
		position:absolute;
		right:0px;
		height:60vh;
		top:10vh;
		opacity: 0.8;
		display:flex;
		flex-direction: column;
		align-items:center;
		width:30%;
		transform: translateX(100%);
		transition: transform 0.5s ease-in;
	}

	.nav-links li {
		opacity:0;
	}

	.logo img {
		position: center;
		padding: 10px 10px 5px 10px;
	}

	.burger {
		display:block;
		position:absolute;
		right:0;
		padding-right:20px;
	}
}

.nav-active {
	transform: translateX(0%);
}

div#a {

position:absolute;
    z-index: -10;
}

@keyframes navLinkFade {
	from {
		opacity:0;
		transform:translateX(50px);
	}

	to {
		opacity:1;
		transform:translateX(0px);
	}
}

.toggle .line1 {
	transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2 {
	opacity:0;
}

.toggle .line3 {
	transform: rotate(45deg) translate(-5px,-6px);
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }