{% extends 'subcity/base.html' %}
{% load staticfiles %}

{% block title_block %}
{% endblock %}

{% block body_block %}
Subcity Radio is undergoing some changes, in the meantime listen live here!<br>
Subcity Radio is undergoing some changes, listen live here!<br>
Subcity Radio is undergoing some changes, listen live here!<br>
Subcity Radio is undergoing some changes, listen live here!<br>
Subcity Radio is undergoing some changes, listen live here!<br>
Subcity Radio is undergoing some changes, listen live here!<br>
Subcity Radio is undergoing some changes, listen live here!<br>
Subcity Radio is undergoing some changes, listen live here!<br>
Subcity Radio is undergoing some changes, listen live here!<br>
Subcity Radio is undergoing some changes, listen live here!<br>
<br>
{% endblock %}        

{% block player_block %}
{% endblock %}
 